/*-- Profile --*/

.klix-profile {
  height: 0 auto;
  background-color: #fff;
  padding: 50px 100px;
}

.klix-profile .profile {
  color: #000;
}

.klix-profile h4 {
  font-weight: normal;
	font-size: 24px;
	line-height: 29px;

	color: #000000;
}

.klix-profile h5 {
	 font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */


	color: #000000;

}

/*-- Form-Manage-Account --*/


/*-- My Reward --*/

.klix-myreward {
  margin-top: 10px;
  padding: 20px 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 0 auto;
}

.klix-myreward h5{
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color:#000;
}

/*-- Poin --*/

.klix-poin {
  height: 0 auto;
  background-color: #fff;
  padding: 20px 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.klix-poin h3 {
  font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	color: #f7931e;
}

.klix-poin h4 {
  font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
}

.klix-poin h5 {
  font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;

	color: #828282;
}


.klix-poin h6 {
  font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
}

.klix-poin .earn-poin {
  color: #f7931e;
}


.klix-poin .poin {
  color: #000;
}

.klix-poin .reward h6{
  color: #f7931e;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
}



/*-- Live Tv & SearcH Result --*/

/*-- Live Info--*/
.klix-blog-single .live-info{
  margin-top: 30px;
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

.klix-blog-single .live-info h5.card-title {
  font-weight: bold; 
  font-size: 24px;
  color: #000000;
  line-height: 30px;
  margin-bottom: 10px;
}

.klix-blog-single .live-info h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.klix-blog-single .aside-title-active {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 12px;
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  color: #000;
}

.klix-blog-single .aside-title {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 12px;
  border-bottom: 1px solid #E0E0E0;
  color: #000;
}

.klix-blog-single .posts-grid-left .pr-0 a {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 12px;
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  color: #000;
}


.klix-blog-single .posts-grid-right h4 {
  line-height: 20px;
}

.klix-blog-single .posts-grid-right h4 a {
  font-weight: 500;
	font-size: 18px;
	line-height: 22px;

	color: #000000;

}

/*-- Live Chat --*/

.klix-blog-single .aside-live-chat {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  color: #000;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  margin-bottom:50px;
}

.klix-blog-single .aside-live-chat .title{
  padding: 10px 12px;
  background: #FFFFFF;
  border-bottom: 2px solid #E0E0E0;
}

.klix-blog-single .aside-live-chat .chat-area{
  padding: 10px 12px;
  background: #E0E0E0;
  border: 1px solid #E0E0E0;
}

.klix-blog-single .aside-live-chat .chat-area img{
  padding: 10px 20px 10px 0px;
}

.klix-blog-single .aside-live-chat .chat-area a{
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;  
  color: #828282;
  padding-right: 10px;
}

.klix-blog-single .aside-live-chat .send{
  padding: 10px 12px;
  background: #fff;
  color: #828282; 
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

/*-- Recommended Videos --*/

.klix-blog-single .aside-recommended {
  background-color: #fff;
}

.klix-blog-single .aside-recommended h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

.klix-blog-single .posts-grid-inner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  padding: 10px 0px;
}

.klix-blog-single .posts-grid-inner h4 a {
  font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
  color: #000000;

}
<div class="posts-grid-inner">
										<div class="posts-grid-left pr-0">
											<a href="">
												<img src="assets/images/thumb5.png" alt=" " height="180">
											</a>
											<h4>
												<a href="">Geliat Petualangan Tanah Dewata (08_10_19) Part 1</a>
											</h4>
										</div>
									</div>